numpy
Flask-PluginKit
Flask-Session
Flask-Migrate
polars
is-safe-url
tensorflow
tensorflow-recommenders
recommenders
python3-discogs-client
redis
BeautifulSoup4
cachelib
pytest
jmetalpy
Flask-WTF
cinemagoer
cachetools
tf-keras
torch
sentence-transformers
gunicorn # Railway
