APP_SECRET_KEY=change-me
SESSION_COOKIE_NAME=study-framework
HOST_PORT=5001
GUNICORN_WORKERS=1
GUNICORN_LOG_LEVEL=info
DATASET_GITHUB_REPO=
DATASET_RELEASE_TAG=latest
ML_LATEST_DATASET_ASSET=ml-latest.zip
DATASET_BOOTSTRAP=0
SAE_MODEL_GITHUB_REPO=
SAE_MODEL_RELEASE_TAG=latest
SAE_BOOTSTRAP_MODEL=0
