beautifulsoup4
cachelib
cachetools
cinemagoer
Flask
Flask-Login
Flask-Session
Flask-SQLAlchemy
Flask-WTF
gunicorn
is-safe-url
jmetalpy
numpy
polars
psycopg2-binary
python3-discogs-client
recommenders
sentence-transformers
SQLAlchemy
tensorflow
tensorflow-recommenders
tf-keras
torch
